Crearé una función UserRecommend (año) que devuelve el top 3 de los juegos mas recomendados por usuarios para el año dado.

Importaré las librerias necesarias

In [2]:
import pandas as pd

Voy a crear un dataset a partir del csv

In [3]:
df_review = pd.read_csv('../Data/reviews.csv')

C:\Users\MI PC\AppData\Local\Temp\ipykernel_692\141174834.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_review = pd.read_csv('../Data/reviews.csv')

In [4]:
df_review

,user_id,user_url,posted,item_id,helpful,recommend,review1,user_review
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"Posted November 5, 2011.",1250.0,"['No ratings yet', 'No ratings yet', 'No ratin...",True,['simple yet with great replayability. in my o...,2
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"Posted November 5, 2011.",1250.0,"['No ratings yet', 'No ratings yet', 'No ratin...",True,['simple yet with great replayability. in my o...,2
2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"Posted November 5, 2011.",1250.0,"['No ratings yet', 'No ratings yet', 'No ratin...",True,['simple yet with great replayability. in my o...,2
3,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"Posted July 15, 2011.",1250.0,"['No ratings yet', 'No ratings yet', 'No ratin...",True,['simple yet with great replayability. in my o...,2
4,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"Posted July 15, 2011.",1250.0,"['No ratings yet', 'No ratings yet', 'No ratin...",True,['simple yet with great replayability. in my o...,2
...,...,...,...,...,...,...,...,...
1423596,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,Posted July 20.,440.0,['1 of 2 people (50%) found this review helpfu...,True,['had so much fun plaing this and collecting r...,2
1423597,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,Posted July 20.,440.0,['1 of 2 people (50%) found this review helpfu...,True,['had so much fun plaing this and collecting r...,2
1423598,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,Posted July 2.,440.0,['1 of 2 people (50%) found this review helpfu...,True,['had so much fun plaing this and collecting r...,2
1423599,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,Posted July 2.,440.0,['1 of 2 people (50%) found this review helpfu...,True,['had so much fun plaing this and collecting r...,2
1423600,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,Posted July 2.,440.0,['1 of 2 people (50%) found this review helpfu...,True,['had so much fun plaing this and collecting r...,2

In [5]:
df_año= df_review[['item_id', 'posted', 'recommend']].copy()

In [6]:
df_año

         item_id                    posted recommend
0         1250.0  Posted November 5, 2011.      True
1         1250.0  Posted November 5, 2011.      True
2         1250.0  Posted November 5, 2011.      True
3         1250.0     Posted July 15, 2011.      True
4         1250.0     Posted July 15, 2011.      True
...          ...                       ...       ...
1423596    440.0           Posted July 20.      True
1423597    440.0           Posted July 20.      True
1423598    440.0            Posted July 2.      True
1423599    440.0            Posted July 2.      True
1423600    440.0            Posted July 2.      True

[1423601 rows x 3 columns]

Elimino el punto de la columna posted

In [7]:
df_año['posted'] = df_año['posted'].str.replace('.', '')

Extraigo el año

In [8]:
df_año['año'] = df_año['posted'].str[-4:]

Elimino la columna posted porque ya no la necesito

In [9]:
df_año= df_año.drop('posted', axis=1)

Cambio el tipo de dato de la columna año a entero

In [10]:
df_año['año'] = pd.to_numeric(df_año['año'], errors='coerce')
df_año['año'] = df_año['año'].fillna(0).astype(int)

Elimino las filas que tengan cero

In [11]:
df_año = df_año[df_año['año'] != 0]

In [12]:
df_año

          item_id recommend   año
0          1250.0      True  2011
1          1250.0      True  2011
2          1250.0      True  2011
3          1250.0      True  2011
4          1250.0      True  2011
...           ...       ...   ...
1423262    4000.0     False  2015
1423269  253980.0      True  2015
1423423     730.0      True  2015
1423425     730.0      True  2015
1423434  369200.0      True  2015

[1171278 rows x 3 columns]

Crearé otro dataset con el csv games.original

In [13]:
df_videojuegos= pd.read_csv('../Data/games_original.csv')

C:\Users\MI PC\AppData\Local\Temp\ipykernel_692\1328704019.py:1: DtypeWarning: Columns (0,1,2,3,4,5,6,7,9,10,11,14,15,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df_videojuegos= pd.read_csv('../Data/games_original.csv')

In [14]:
df_juegos = df_videojuegos[['title', 'id']].copy()

In [15]:
df_juegos

                           title        id
0                            NaN       NaN
1                            NaN       NaN
2                            NaN       NaN
3                            NaN       NaN
4                            NaN       NaN
...                          ...       ...
120440            Colony On Mars  773640.0
120441  LOGistICAL: South Africa  733530.0
120442             Russian Roads  610660.0
120443       EXIT 2 - Directions  658870.0
120444                       NaN  681550.0

[120445 rows x 2 columns]

Cambio el nombre de la columna de id por item_id

In [16]:
df_juegos = df_juegos.rename(columns={'id':'item_id'})

Eliminaré nulos del dataset

In [17]:
df_juegos.dropna(how='all', inplace=True)

In [18]:
df_juegos

                           title   item_id
88310        Lost Summoner Kitty  761140.0
88311                  Ironbound  643980.0
88312    Real Pool 3D - Poolians  670290.0
88313                    弹炸人2222  767400.0
88314                        NaN  773570.0
...                          ...       ...
120440            Colony On Mars  773640.0
120441  LOGistICAL: South Africa  733530.0
120442             Russian Roads  610660.0
120443       EXIT 2 - Directions  658870.0
120444                       NaN  681550.0

[32134 rows x 2 columns]

Uniré los dos dataset df_juegos y df_años por item_id

In [19]:
df_recomendacion_año = pd.merge(df_juegos, df_año, on='item_id')

Eliminaré la columna item_id

In [20]:
df_recomendacion_año= df_recomendacion_año.drop('item_id', axis=1)

In [21]:
df_recomendacion_año

                                  title recommend   año
0                  Carmageddon Max Pack      True  2015
1                  Carmageddon Max Pack      True  2015
2                  Carmageddon Max Pack      True  2015
3                             Half-Life      True  2015
4                             Half-Life     False  2015
...                                 ...       ...   ...
1056635  Counter-Strike: Condition Zero      True  2015
1056636  Counter-Strike: Condition Zero      True  2015
1056637  Counter-Strike: Condition Zero      True  2015
1056638  Counter-Strike: Condition Zero      True  2015
1056639  Counter-Strike: Condition Zero      True  2015

[1056640 rows x 3 columns]

In [22]:
df= df_recomendacion_año.groupby(['title', 'año'])['recommend'].sum()

In [23]:
df_recomendacion_año

                                  title recommend   año
0                  Carmageddon Max Pack      True  2015
1                  Carmageddon Max Pack      True  2015
2                  Carmageddon Max Pack      True  2015
3                             Half-Life      True  2015
4                             Half-Life     False  2015
...                                 ...       ...   ...
1056635  Counter-Strike: Condition Zero      True  2015
1056636  Counter-Strike: Condition Zero      True  2015
1056637  Counter-Strike: Condition Zero      True  2015
1056638  Counter-Strike: Condition Zero      True  2015
1056639  Counter-Strike: Condition Zero      True  2015

[1056640 rows x 3 columns]

In [24]:
# Agrupa los datos por título y año y cuenta los valores True
true_counts = df_recomendacion_año[df_recomendacion_año['recommend'] == True].groupby(['title', 'año']).size()

# Muestra los resultados
print(true_counts)

title                                         año
! That Bastard Is Trying To Steal Our Gold !  2014      5
                                              2015     10
//N.P.P.D. RUSH//- The milk of Ultraviolet    2012      4
                                              2013      8
                                              2014      2
                                                     ...
theHunter: Primal                             2013     17
                                              2014     56
                                              2015    153
Астролорды: Облако Оорта                      2013      2
                                              2015      4
Length: 8121, dtype: int64

In [25]:
# Obtiene los tres juegos más recomendados por año
top_3 = true_counts.groupby('año').nlargest(3)

# Muestra los resultados
print(top_3)

año   title                             año
2010  Team Fortress 2                   2010      107
      Portal 2                          2010       92
      Killing Floor                     2010       58
2011  Team Fortress 2                   2011      918
      Portal 2                          2011      488
      Terraria                          2011      439
2012  Team Fortress 2                   2012     2137
      Garry's Mod                       2012      890
      Counter-Strike: Global Offensive  2012      782
2013  Team Fortress 2                   2013     6835
      Garry's Mod                       2013     4440
      Counter-Strike: Global Offensive  2013     4099
2014  Team Fortress 2                   2014    18422
      Counter-Strike: Global Offensive  2014    14859
      Garry's Mod                       2014    12440
2015  Counter-Strike: Global Offensive  2015    17444
      Team Fortress 2                   2015    14503
      Garry's Mod                       2015    10980
dtype: int64

In [26]:
# Crear un diccionario con los datos
data = {'año': [2010, 2010, 2010, 2011, 2011, 2011, 2012, 2012, 2012, 2013, 2013, 2013, 2014, 2014, 2014, 2015, 2015, 2015],
        'juego': ['Team Fortress 2', 'Portal 2', 'Killing Floor', 'Team Fortress 2', 'Portal 2', 'Terraria', 'Team Fortress 2', 'Garry\'s Mod', 'Counter-Strike: Global Offensive', 'Team Fortress 2', 'Garry\'s Mod', 'Counter-Strike: Global Offensive', 'Team Fortress 2', 'Counter-Strike: Global Offensive', 'Garry\'s Mod', 'Counter-Strike: Global Offensive', 'Team Fortress 2', 'Garry\'s Mod'],
        'calificación': [107, 92, 58, 918, 488, 439, 2137, 890, 782, 6835, 4440, 4099, 18422, 14859, 12440,17444 ,14503 ,10980]}

# Convertir el diccionario en un DataFrame
df = pd.DataFrame(data)

# Imprimir el DataFrame
print(df)

     año                             juego  calificación
0   2010                   Team Fortress 2           107
1   2010                          Portal 2            92
2   2010                     Killing Floor            58
3   2011                   Team Fortress 2           918
4   2011                          Portal 2           488
5   2011                          Terraria           439
6   2012                   Team Fortress 2          2137
7   2012                       Garry's Mod           890
8   2012  Counter-Strike: Global Offensive           782
9   2013                   Team Fortress 2          6835
10  2013                       Garry's Mod          4440
11  2013  Counter-Strike: Global Offensive          4099
12  2014                   Team Fortress 2         18422
13  2014  Counter-Strike: Global Offensive         14859
14  2014                       Garry's Mod         12440
15  2015  Counter-Strike: Global Offensive         17444
16  2015                   Team Fortress 2         14503
17  2015                       Garry's Mod         10980

Crearé un csv para luego poder abrirlo con fastapi

In [27]:
df.to_csv('UsersRecommend.csv', index=False)

In [28]:
def UsersRecommend(año):
    # Filtrar los juegos del año deseado
    juegos_año = df[df['año'] == año]
    
    # Seleccionar los tres juegos con la calificación más alta
    top_3_juegos = list(juegos_año.nlargest(3, 'calificación')['juego'])
    
    # Crear una lista de diccionarios con el formato deseado
    resultado = [{'Puesto {}:'.format(i+1): juego} for i,juego in enumerate(top_3_juegos)]
    
    return resultado

# Ejemplo de uso
print(UsersRecommend(2011))

[{'Puesto 1:': 'Team Fortress 2'}, {'Puesto 2:': 'Portal 2'}, {'Puesto 3:': 'Terraria'}]